spack:
  specs:
  - access-ww3 @git.{{ ref }} ~access3
  packages:
    gcc:
      require:
      - '@{{ gcc_compiler_version }}'
    all:
      require:
      - '%access_gcc'
      - target={{ target }}
  concretizer:
    unify: false
  view: false
