spack:
  specs:
    - access-ww3 @git.{{ ref }} +access3 build_type=Debug
    - access-ww3 @git.{{ ref }} +access3
  packages:
    gcc-runtime:
      require:
      - '%access_gcc'
      - target={{ target }}
    intel-oneapi-compilers:
      require:
      - '@{{ oneapi_compiler_version }}'
    all:
      require:
        - '%access_oneapi'
        - target={{ target }}
  concretizer:
    unify: false
  view: false
